<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {titulo: 'Inicio'}) %>
<style>
    .form-group{
        margin-bottom: 1rem;
    }
</style>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <%- include('../partials/carrito') %>
    <%- include('../partials/productos') %>
    <%- include('../partials/chat') %>
</body>
</html>