<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {titulo: 'Inicio'}) %>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <div class="container-fluid" style="margin-top: 1.5rem;">
        <h1 class="text-primary">Lista de Productos</h1>
    </div>
    <div class="container-fluir" style="width: 800px;">
        <% if(typeof productos === 'object' && productos.length > 0){ %>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Imagel</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
            </tr>
            </thead>
            <tbody>
                <% productos.forEach( (producto) => { %>
                    <tr>
                        <td>
                            <% if(producto.thumbnail !== ''){ %>
                                <img src="<%= producto.thumbnail %>" class="img-thumbnail" style="width: 100px; height: auto;" alt="<%= producto.name %>">
                            <% } else { %>
                                <img src="https://peugeot.navigation.com/static/WFS/Shop-Site/-/Shop/en_US/Product%20Not%20Found.png" class="img-thumbnail" style="width: 100px; height: auto;" alt="<%= producto.name %>">
                            <% } %>
                        </td>
                        <td><%= producto.name %></td>
                        <td>$<%= producto.price %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h4>No hay productos disponibles.</h4>
        <% } %>
    </div>
</body>
</html>